[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
expects = "==0.9.0"
mamba = "==0.10"
tornado = "==6.0.3"
pyaudio = "==0.2.11"

[dev-packages]

[requires]
python_version = "3.6"
