h4 {border-left:solid;border-width:1}

p {height:10;display:block}

td{position:relative;height:1px;}

.tecla{width:20px}

table {border-collapse: collapse}

td.cuerdas {
        text-align:center;
			  height:32px;
			  width:32px;
	  		border-right:solid;
	  		border-top:none;
	  		border-bottom:none;
	  		border-right-color:#9E9E97}

td.aire {text-align:center;

		width:45px;
		height:32px;
	  	border-top:none;
	 	border-bottom:none;
	  	border-right:solid;
	 	border-right-color:#E6E68A;
	  	border-right-width:14px}

td.cuerdasChord {text-align:center;
			height:28;
			width:23;
	  		border-right:solid;
	  		border-top:none;
	  		border-bottom:none;
	  		border-right-color:#9E9E97;
			border-right-width:1px
}

td.aireChord {text-align:center;
		width:23;
		height:28;
	  	border-top:none;
	 	border-bottom:none;
	  	border-right:solid;
	 	border-right-color:#E6E68A;
	  	border-right-width:6px}

.invisible{display:none}

.sexta{
background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(37%, rgba(33,8,8,1)), color-stop(52%, rgba(179,179,179,1)), color-stop(68%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );

}
.quinta{
background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(40%, rgba(33,8,8,1)), color-stop(52%, rgba(179,179,179,1)), color-stop(68%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 68%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );


}
.cuarta{background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 62%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(37%, rgba(33,8,8,1)), color-stop(52%, rgba(179,179,179,1)), color-stop(62%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 62%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 62%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 62%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 37%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 62%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );
}
.tercera{background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 51%, rgba(33,8,8,1) 55%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(42%, rgba(33,8,8,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(55%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 51%, rgba(33,8,8,1) 55%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 51%, rgba(33,8,8,1) 55%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 51%, rgba(33,8,8,1) 55%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 51%, rgba(33,8,8,1) 55%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );
}

.tercerabass{
background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 59%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
<Mouse>C!‹!)<Mouse>C!Š!*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(40%, rgba(33,8,8,1)), color-stop(52%, rgba(179,179,179,1)), color-stop(59%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 59%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 59%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 59%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 40%, rgba(179,179,179,1) 52%, rgba(33,8,8,1) 59%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );

}
.segunda{background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 50%, rgba(33,8,8,1) 54%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(42%, rgba(33,8,8,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(54%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 50%, rgba(33,8,8,1) 54%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 50%, rgba(33,8,8,1) 54%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 50%, rgba(33,8,8,1) 54%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 50%, rgba(33,8,8,1) 54%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );
}

.cuartauke{background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(42%, rgba(33,8,8,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(52%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );
}


.prima{background: rgba(33,8,8,1);
background: -moz-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,8,8,1)), color-stop(9%, rgba(33,8,8,1)), color-stop(19%, rgba(33,8,8,1)), color-stop(30%, rgba(33,8,8,1)), color-stop(42%, rgba(33,8,8,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(52%, rgba(33,8,8,1)), color-stop(72%, rgba(33,8,8,1)), color-stop(81%, rgba(33,8,8,1)), color-stop(88%, rgba(33,8,8,1)), color-stop(100%, rgba(33,8,8,1)));
background: -webkit-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -o-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: -ms-linear-gradient(top, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
background: linear-gradient(to bottom, rgba(33,8,8,1) 0%, rgba(33,8,8,1) 9%, rgba(33,8,8,1) 19%, rgba(33,8,8,1) 30%, rgba(33,8,8,1) 42%, rgba(255,255,255,1) 49%, rgba(33,8,8,1) 52%, rgba(33,8,8,1) 72%, rgba(33,8,8,1) 81%, rgba(33,8,8,1) 88%, rgba(33,8,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210808', endColorstr='#210808', GradientType=0 );
}

.boxed{position:relative;z-index:100;padding-bottom:0;background-color:white;border-radius: 48%;width:30px;margin-left:auto;margin-right:auto;background-color:#FFFFCC}

.boxedChord{position:relative;z-index:100;padding-bottom:0;background-color:white;border-radius:100%;width:4px;height:8px;margin-left:auto;margin-right:auto;background-color:#FFFFCC}
